@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --font: "Poppins", sans-serif;
  --font-color: #060d42;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* Set 1rem = 10px */
  font-size: 62.5%;
  font-family: var(--font);
  background: #7f7fd5; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #91eae4,
    #86a8e7,
    #7f7fd5
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #91eae4,
    #86a8e7,
    #7f7fd5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: var(--font-color);
  line-height: 1.5;
  margin: 0 1rem;
  height: 100vh;
}

ul {
  list-style: none;
}

a {
  font-size: 1rem;
  color: var(--font-color);
  text-decoration: none;
}

h1,
h2,
p {
  text-align: center;
  letter-spacing: 0.1rem;
  line-height: 1;
}

h1 {
  font-size: 2rem;
  padding-bottom: 1rem;
}

h2 {
  font-size: 1.5rem;
  padding-bottom: 2rem;
}

p {
  font-size: 1.2rem;
  text-align: start;
}

/*
=========
 Nav bar
=========
*/

nav {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: var(--background-color);
  height: 3rem;
  align-items: center;
  padding: 1rem 0;
}

nav li {
  color: var(--font-color);
  font-size: 1rem;
  font-weight: 700;
  margin-right: 1rem;
}

nav li a:hover {
  opacity: 0.8;
}

header nav ul {
  display: flex;
  justify-content: flex-end;
}

footer nav {
  height: 6rem;
  display: flex;
  flex-direction: column;
}

footer nav .about,
footer nav .social {
  display: flex;
  padding-bottom: 0.8rem;
}

/*
=========
 Main
=========
*/

main {
  min-height: calc(100vh - 9rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 1.5rem 0;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login img {
  margin-bottom: 2rem;
}

.login .welcome {
  margin: 1rem;
}

.login_form {
  margin: 1rem;
}

.login_form .login_input {
  width: 100%;
  margin: 0.3rem;
  padding: 0.5rem 1rem;
  background: rgba(255, 255, 255, 0.678);
  font-family: var(--font);
  border-radius: 0.5rem;
  border: none;
}

.login_form .login_button {
  display: block;
  margin: 2rem auto;
  padding: 0.5rem 1rem;
  font-family: var(--font);
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  background: #91eae4;
  color: var(--font-color);
  border: none;
  border-radius: 1.5rem;
  transition: 0.3s all ease-in-out;
}

.login_form .login_button:hover {
  background: #6ed4ce;
}

.login_form .login_button:focus {
  outline: none;
}

.login_form .login_button:active {
  scale: 1.2;
}

.sample_account {
  background: rgba(255, 255, 255, 0.25);
  padding: 1.5rem;
  border-radius: 1rem;
}

.sample_account p {
  padding: 0.5rem;
}

.app {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-rows:  */
  gap: 1rem;
  transition: all 1s fade-in-out;
  opacity: 0;
  margin: 2rem 0;
}

.app .balance,
.app .summary,
.app .transactions,
.app .services,
.app .timer-section {
  grid-column: 1 / -1; /* take full width of screen */
}

.app .balance {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.4);
  padding: 1.5rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.app .balance .balance_value {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.app .balance .balance_date {
  padding: 0.5rem 0;
  font-size: 0.9rem;
}

.summary {
  display: flex;
  justify-content: space-around;
}

.summary .summary_value-in {
  color: #10920b;
}

.summary .summary_value-out {
  color: #c52510;
}

.app .summary .button-sort {
  display: block; /* BUG: button not block */
}

/* ======= TRANSACTIONS ===== */

.transactions .transactions_row {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin: 0.5rem 0;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 0.5rem;
  font-size: 1rem;
}

.services {
  margin: 1rem 0;
  padding: 2rem;
  border-radius: 1rem;
  color: #fff;
}

.services-transfer {
  /* background: linear-gradient(to right, #7dd375, #2cb628, #065204); */
  background-image: linear-gradient(315deg, #08e1ae 0%, #98de5b 74%);
}

.services-close {
  /* background: linear-gradient(to right, #ec6651b9, #c52510, #6d0f03); */
  background-color: #a40606;
  background-image: linear-gradient(315deg, #a40606 0%, #d98324 74%);
}

.services .form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services .form_label {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.services input {
  width: 70%;
  padding: 0.5rem 1rem;
  background: rgba(255, 255, 255, 0.678);
  font-family: var(--font);
  border-radius: 0.5rem;
  border: none;
  margin-bottom: 1rem;
}

.services .form_button {
  display: block;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-family: var(--font);
  font-size: 1rem;
  font-weight: 700;
  border: none;
  border-radius: 0.8rem;
}

/*
=========
 Media
=========
*/

@media screen and (min-width: 900px) {
  body {
    padding: 0 2rem;
  }

  nav {
    padding: 1rem;
  }

  main {
    padding: 4.5rem 0 2rem;
  }

  .app .balance,
  .app .summary {
    grid-column: 1 / span 5;
  }

  .app .summary {
    margin: 2rem 0;
  }

  .app .transactions {
    min-width: 20rem;
    margin-right: 2rem;
    grid-column: 1 / span 2;
    grid-row: 3 / span 5;
  }

  .app .services {
    grid-column: 3 / span 5;
    max-width: 20rem;
  }

  .app .timer-section p {
    text-align: center;
    font-size: 1rem;
    margin-top: 1rem;
  }

  h1 {
    font-size: 3rem;
    padding-bottom: 1rem;
  }

  h2 {
    font-size: 1.8rem;
    padding-bottom: 2rem;
  }

  p {
    font-size: 1.6rem;
  }
}
