@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --font: "Poppins", sans-serif;
  --font-color: #060d42;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* Set 1rem = 10px */
  font-size: 62.5%;
  font-family: var(--font);
  background: #7f7fd5; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #91eae4,
    #86a8e7,
    #7f7fd5
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #91eae4,
    #86a8e7,
    #7f7fd5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: var(--font-color);
  line-height: 1.5;
  margin: 0 1rem;
  height: 100vh;
}

ul {
  list-style: none;
}

a {
  font-size: 1rem;
  color: var(--font-color);
  text-decoration: none;
}

h1,
h2,
p {
  text-align: center;
  letter-spacing: 0.1rem;
  line-height: 1;
}

h1 {
  font-size: 2.5rem;
  padding-bottom: 1rem;
}

h2 {
  font-size: 2rem;
  padding-bottom: 2rem;
}

p {
  font-size: 1.2rem;
}

/*
=========
 Nav bar
=========
*/

nav {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: var(--background-color);
  height: 3rem;
  align-items: center;
  padding: 1rem 0;
}

nav li {
  color: var(--font-color);
  font-size: 1rem;
  font-weight: 700;
  margin-right: 1rem;
}

nav li a:hover {
  opacity: 0.8;
}

header nav ul {
  display: flex;
  justify-content: flex-end;
}

footer nav {
  height: 6rem;
  display: flex;
  flex-direction: column;
}

footer nav .about,
footer nav .social {
  display: flex;
  padding-bottom: 0.8rem;
}

/*
=========
 Main
=========
*/

main {
  min-height: calc(100vh - 9rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 1.5rem 0;
}

.login {
}

.app {
  display: grid;
  grid-template-columns: auto-fit, minmax(min(3rem, 100%), 1fr);
  grid-template-rows: auto-fill, minmax(min(8rem, 100%), 1fr);
  gap: 1rem;
  transition: all 1s fade-in-out;
  opacity: 0;
}

.app .balance,
.app .summary,
.app .transactions,
.app .services {
  grid-column: 1 / -1; /* take full width of screen */
}

.app .balance,
.app .summary {
  display: flex;
  justify-content: space-between;
}

.summary .summary_value-in {
  color: #10920b;
}

.summary .summary_value-out {
  color: #c52510;
}

.app .summary .button-sort {
  display: block; /* BUG: button not block */
}

/* ======= TRANSACTIONS ===== */

.transactions .transactions_row {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin: 0.5rem 0;
  background: #f0efeb;
  border-radius: 0.5rem;
  font-size: 1rem;
}

/* .transactions .transactions_row .transactions_type-deposit {
  color: #10920b;
} */

/*
=========
 Media
=========
*/

@media screen and (min-width: 900px) {
  body {
    padding: 0 2rem;
  }

  nav {
    padding: 1rem;
  }

  main {
    padding: 4.5rem 0;
  }

  .app {
    grid-template-columns: repeat(auto-fit, minmax(min(5rem, 100%), 1fr));
    grid-template-rows: repeat(auto-fill, minmax(min(8rem, 100%), 1fr));
  }

  h1 {
    font-size: 3rem;
    padding-bottom: 1rem;
  }

  h2 {
    font-size: 2.5rem;
    padding-bottom: 2rem;
  }

  p {
    font-size: 1.6rem;
  }
}
