* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* Set 1rem = 10px */
  font-size: 62.5%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(22, 15, 108, 1) 40%,
    rgba(111, 35, 143, 1) 100%
  );
  color: #ffd93d;
  line-height: 1.5;
  padding: 0 2rem;
}

ul {
  list-style: none;
}

a {
  color: #ffd93d;
  text-decoration: none;
}

h1,
h2,
p {
  text-align: center;
  letter-spacing: 0.1rem;
  line-height: 1;
  padding-bottom: 2rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

p {
  font-size: 1.6rem;
}

/*
=========
 Main
=========
*/

main {
  min-height: calc(100vh - 3rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 4.5rem 0;
}

main section {
  padding: 0 2rem;
  margin-bottom: 3rem;
}

main .project-list {
  width: 90vw;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1.5rem;
}

main .project-item figure {
  border-radius: 0.5rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  transition: all 0.3s linear;
}

main .project-item a:hover figure {
  transform: scale(1.05);
}

main .project-item img {
  display: block;
  object-fit: fit;
  width: 100%;
  height: 100%;
}

main .project-item figcaption {
  background: #f2f2f2;
  color: #020024;
  padding: 1rem;
}

main .project-item .project-item-title {
  font-size: 1.2rem;
  font-weight: 700;
  padding-bottom: 0.8rem;
}

main .project-item .project-item-content {
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

/*
=================
 Header & footer
=================
*/

nav {
  height: 3rem;
  display: grid;
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding: 0 2rem;
}

nav .nav-left,
nav .nav-right {
  display: flex;
}

nav li {
  font-size: 1rem;
  font-weight: 700;
  margin-right: 1rem;
  text-align: center;
}

nav li a:hover {
  color: #ffe863;
}

footer nav {
  padding-bottom: 2rem;
}
