* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* Set 1rem = 10px */
  font-size: 62.5%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #f2f2f2;
  color: #f2f2f2;
  line-height: 1.5;
}

ul {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

h1 {
  font-size: 2rem;
  letter-spacing: 0.1rem;
  line-height: 1;
}

/*
=========
 Nav bar
=========
*/

nav {
  background: #f2f2f2;
  height: 3rem;
  display: grid;
  align-items: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

header nav ul {
  display: flex;
  justify-content: space-around;
}

header nav li {
  color: #333;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  font-weight: 700;
  margin-right: 1rem;
}

/*
===========
 Container
===========
*/

main {
  min-height: calc(100vh - 6rem);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
}

.container h1 {
  background: rgba(0, 0, 0, 0.2);
  color: #f2f2f2;
  padding: 1.5rem;
  border-radius: 0.5rem;
  margin-bottom: 2.5rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.container .button-row {
  display: flex;
  justify-content: center;
}

.container button {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #f2f2f2;
  color: #333;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  padding: 0.75rem 1.25rem;
  margin-right: 2rem;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.container button:hover {
  background: #333;
  color: #f2f2f2;
}

/*
=========
 Footer
=========
*/

footer nav {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
}

footer nav .footer-left,
footer nav .footer-right {
  display: flex;
}

footer nav li {
  color: #333;
  font-size: 1rem;
  font-weight: 700;
  margin-right: 1rem;
}

footer nav li a:hover {
  opacity: 0.7;
}

@media screen and (max-width: 800px) {
  .container h1 {
    font-size: 1.3rem;
    padding: 1rem;
  }

  .container .button-row {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .container button {
    letter-spacing: 0;
    margin-bottom: 1.5rem;
  }
}
